* {
    box-sizing: border-box;
    height:100%;
}

body {
    margin: 0;
    padding:0;
    height:100vh;
    display: flex;
    justify-content: center;
    
    color:#2D2D2D;
}

.container{
    height:100vh;
    width:100%;
    background-image: url(./images/note2.svg);
    background-position:center;
    background-size:cover;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    overflow:auto;

    
}
.head{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    height:10%;
    width:100%;
    /* position:fixed;
    z-index: 10; */
}


.user-text{
    height:10%;
    width:100%;
    display: flex;
    /* position: fixed;
    top:64px;
    z-index: 10; */
}

.list{
    height:80%;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* position: relative;
    top: 128px; */
    list-style-type: none;
    

}

.head2{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.button{
    width:100%;
    height:100%;
    display:flex;
    justify-content: right;
    align-items:center;

}

input[type="text"] {

    background-color : transparent;
    border-bottom:  3px solid #2D2D2D;
    border-top-color:transparent;
    border-right-color:transparent;
    border-left-color:transparent; 
    border-radius: 4px;
    width:20rem;
    font: 600 22px 'Indie Flower', cursive;
    color:#2D2D2D;
  
  }
  
input:focus{
    outline: transparent;
    
}

.btn{
    background-color: transparent;
    border-radius:20%;
    color:#757575;
    font: 600 22px 'Indie Flower', cursive;
    transition:all 0.2s ease-in 0.1s;
    width:20%;
    height:60%;
}

.btn:hover{
    
    color:#2D2D2D;
    background-color:rgba(255, 255, 255, 0.3);
   
    
}

.btn:focus{
    outline:transparent;
    
}

.item{
    height:3rem;
    width:90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: 600 22px 'Quicksand', sans-serif;
}

/* .item:focus{
    outline: transparent;
    border-bottom: 1px solid #757575;
    
} */
.item-text{
    width:80%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.smallbtn{
    width:10%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.item-text:focus{
    outline: transparent;
    border-bottom: 1px solid #757575;
}

.can.far, .vee.far{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px){
    .user-text{
        flex-direction: column;
        
    }
    .head2{
        height:60%;

    }

    .button{
        justify-content: flex-end;
        height:40%;
        
    }

    .btn{
        height:100%;
        width:21%;
    }

    .list{
        width:100%;
        

    }
   
}

.ghost {
    opacity: 0.4;
  }
 
  


