* {
    box-sizing: border-box;
    height:100%;
}

body {
    margin: 0;
    padding:0;
    height:100vh;
    display: flex;
    justify-content: center;
    
    color:#2D2D2D;
}

.container{
    height:100vh;
    width:100%;
    background-image: url(./images/note2.svg);
    background-position:center;
    background-size:cover;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    overflow:auto;

    
}
.head{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    height:10%;
    width:100%;
    /* position:fixed;
    z-index: 10; */
}


.user-text{
    height:10%;
    width:100%;
    display: flex;
    /* position: fixed;
    top:64px;
    z-index: 10; */
}

.list{
    height:80%;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* position: relative;
    top: 128px; */
    list-style-type: none;
    

}

.head2{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.button{
    width:100%;
    height:100%;
    display:flex;
    justify-content: right;
    align-items:center;

}

input[type="text"] {

    background-color : transparent;
    border-bottom:  3px solid #2D2D2D;
    border-top-color:transparent;
    border-right-color:transparent;
    border-left-color:transparent; 
    border-radius: 4px;
    width:20rem;
    font: 600 22px 'Indie Flower', cursive;
    color:#2D2D2D;
  
  }
  
input:focus{
    outline: transparent;
    
}

.btn{
    background-color: transparent;
    border-radius:20%;
    color:#757575;
    font: 600 22px 'Indie Flower', cursive;
    transition:all 0.2s ease-in 0.1s;
    width:20%;
    height:60%;
}

.btn:hover{
    
    color:#2D2D2D;
    background-color:rgba(255, 255, 255, 0.3);
   
    
}

.btn:focus{
    outline:transparent;
    
}

.item{
    height:3rem;
    width:90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: 600 22px 'Quicksand', sans-serif;
}

/* .item:focus{
    outline: transparent;
    border-bottom: 1px solid #757575;
    
} */
.item-text{
    width:80%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.smallbtn{
    width:10%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.item-text:focus{
    outline: transparent;
    border-bottom: 1px solid #757575;
}

.can.far, .vee.far{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px){
    .user-text{
        flex-direction: column;
        
    }
    .head2{
        height:60%;

    }

    .button{
        justify-content: flex-end;
        align-items: baseline;
        height:40%;
        
    }

    .btn{
        height:max-content;
        width:max-content;
    }

    .list{
        width:100%;
        

    }
   
}

.ghost {
    opacity: 0.4;
  }
 
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    justify-content: center;
    align-items: center;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent; /* Fallback color */
    background-color:rgba (0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    
  }
  
  /* Modal Content */
  .modal-content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: transparent;
    width: 50%;
    height: min-content;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.5s;
    /* border: 1px solid blue; */
    border-radius:20%;
    box-shadow: 2px 7px 7px #2D2D2D;
  }

  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  .modal-footer {
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    
  }

  .btn.delete{
      color:#2D2D2D;
  }

  h3{
    font-family:'Quicksand', sans-serif;
  }